.repository {
    box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.07);
    border-radius: 10px;
    border: 1px solid #F1F1F1;
    padding: 24px 20px;

    &__name {
        font-size: 26px;
        line-height: 28px;
        font-weight: 700;
        color: #292929;
        margin-bottom: 15px;
    }

    &__description {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #404040;
        margin-bottom: 32px;
    }
}